<h6>Select your Payment Method</h6>
<br>

<form #f="ngForm" *ngIf="methods" (ngSubmit)="onPayment(f)">
    <div class="radio form-group" *ngFor="let m of methods">
            <label>
            <input
                type="radio"
                name="paymentMethod"
                ngModel 
                required
                [value]="m.methodId">
                {{ m.name }}
            </label>
    </div>
    <button
        [disabled]="!f.valid"
        type="submit"
        class="btn btn-primary btn-sm">Pay And Place Order</button>
    
</form>