<!-- <div class="row">
    <div class="col-md-6">
        <div class="sticky-top">
            <img [src]="product$.imagePath" class="img-fluid img-thumbnail" [alt]="product$.title">
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <h2>{{ product$.title }}</h2>
        </div>
        <div>
            <h5>{{ product$.price | currency:'USD' }}</h5>
        </div>
       <div>
           <button class="btn btb-primary">Add to bag</button>
       </div>
    </div>
</div> -->

<div>fkfls</div>
