<h1>Cart</h1>
<hr>
<div class="row" *ngIf="cart">
    <div class="col-md-8">
        <div class="list-group">
            <div
                *ngFor="let item of cart.items" 
                class="list-group-item">
                    <app-cart-item [cartItem]="item"></app-cart-item>
            </div>
        </div>
        <div class="w-100 d-flex justify-content-between">
                <div class="mb-1"></div>
                <button 
                    id="proceed_button"
                    (click)="proceedToCheckOut()" 
                    class="btn btn-primary">Proceed</button> 
        </div>
         
    </div>
    <div class="col-md-4">
        <app-order-summary [cart]="cart"></app-order-summary>
    </div>
</div>
